*~
/data
/build
/doxygen
*.tsv
/sim_imgs
*.so
*kdev4*
*.caffemodel
*.caffemodel.h5
*.pyc
*.out
*.zip
/tasks/R2R/data/*.json
/tasks/R2R/data/*_vocab.txt
.idea
/preprocess/3D/matterport_mesh
/preprocess/JPyDoc
/tasks/R2R/plots/*.csv
/tasks/R2R/results/*.json
/tasks/R2R/snapshots/seq2seq*
/tasks/R2R/exps
/tasks/R2R/SC2snapshots

/tasks/R2R/jupyter
/tasks/R2R/pretrain

#Eclipse
*.project

# PyDev specific (Python IDE for Eclipse)
*.pydevproject